blinker1.9.0 
cffi2.0.0 
click8.3.0 
colorama0.4.6 
cryptography46.0.3 
Flask3.1.2 
itsdangerous2.2.0 
Jinja23.1.6 
MarkupSafe3.0.3 
numpy2.3.4 
oracledb3.4.0 
pandas2.3.3 
pycparser2.23 
python-dateutil2.9.0.post0 
python-dotenv1.2.1 
pytz2025.2 
six1.17.0 
typing_extensions4.15.0 
tzdata2025.2 
Werkzeug3.1.3 
xlsxwriter3.2.9 
gunicorn21.2.0 
opencv-python 
pytesseract 
flask 
gunicorn 
celery 
redis 
pillow 
piexif
